span#kou {
  display: block;
  line-height: 13rem;
  font-size: 8rem !important;
}
#kou_kana {
  font-size: 4rem !important;
}

#container {
  top: 30% !important;
  text-align: center;
}

#sekki {
  margin-top: -24px;
  font-size: 2rem;
  padding: .5em;
}

#date, #meaning, #footer { display: none; }
